words.txt
__pycache__/keywords.cpython-310.pyc
__pycache__/sst.cpython-310.pyc
cutVideos/0_pcdiga_completo.wav
cutVideos/1_pcdiga_completo.wav
cutVideos/2_pcdiga_completo.wav
cutVideos/3_pcdiga_completo.wav
cutVideos/4_pcdiga_completo.wav
cutVideos/5_pcdiga_completo.wav
cutVideos/6_pcdiga_completo.wav
cutVideos/7_pcdiga_completo.wav
input/yt_js_2min.txt
input/yt_js_2min.wav
input/yt_js_40s1.txt
input/yt_js_40s1.wav
input/yt_js_40s2.txt
input/yt_js_40s2.wav
input/yt_js_40s3.txt
input/yt_js_40s3.wav
input/yt_js_40s4.txt
input/yt_js_40s4.wav
input/yt_js_full.txt
input/yt_js_randomburaco.txt
input/yt_js_randomburaco.wav
outputs/clip-pt.txt
cutVideos/0_pcdiga_completo.wav
cutVideos/1_pcdiga_completo.wav
cutVideos/2_pcdiga_completo.wav
cutVideos/3_pcdiga_completo.wav
cutVideos/4_pcdiga_completo.wav
cutVideos/5_pcdiga_completo.wav
cutVideos/6_pcdiga_completo.wav
cutVideos/7_pcdiga_completo.wav
outputs/clip-pt.txt
words.txt
